body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer{
 background-color: aqua;
}

.myInfo{
  background-color: chartreuse;
}
.logo{
  background-color: blue;
}



.nav-item{
  color: black;
  font-size: 1.5rem;
  
}
.mainCarousel{
  display: table;
  margin: 0 auto;

}
.carouselItem{
  display: table;
  margin: 0 auto;
  
}
.wrapp{
  height: 40rem;
  background-color: white;
  text-align: center;
  
}
.mainBorder{
  border: 1rem;
  border-color: black;
  padding-top: 20%;
  padding-bottom: 20%;
}
.blink-me {
  animation: blinker 10s linear;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.photoBox{
  width: 200px;
  height: 300px;
  
}