body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4c4f3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fc67fa, #f4c4f3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fc67fa, #f4c4f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

footer{
  color: blueviolet;
 
  text-align: center;
}

.nav-item{
  color: black;
  font-size: 1.5rem;
  
}
.mainCarousel{
  display: table;
  margin: 0 auto;

}
.carouselItem{
  display: table;
  margin: 0 auto;
  
}
.wrapp{
  height: 40rem;
  background-color: white;
  text-align: center;
  
}
.mainBorder{
  border: 1rem;
  border-color: black;
  padding-top: 20%;
  padding-bottom: 20%;
}
.blink-me {
  animation: blinker 10s linear;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}